@font-face {
    font-family: 'SUIT';
    font-style: normal;
    font-weight: 100;
    src: url("/fonts/SUIT/SUIT-Thin.woff2") format('woff2'),
         url("/fonts/SUIT/SUIT-Thin.ttf") format('truetype');
}
@font-face {
    font-family: 'SUIT';
    font-style: normal;
    font-weight: 200;
    src: url("/fonts/SUIT/SUIT-ExtraLight.woff2") format('woff2'),
         url("/fonts/SUIT/SUIT-ExtraLight.ttf") format('truetype');
}
@font-face {
    font-family: 'SUIT';
    font-style: normal;
    font-weight: 300;
    src: url("/fonts/SUIT/SUIT-Light.woff2") format('woff2'),
         url("/fonts/SUIT/SUIT-Light.ttf") format('truetype');
}
@font-face {
    font-family: 'SUIT';
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/SUIT/SUIT-Regular.woff2") format('woff2'),
         url("/fonts/SUIT/SUIT-Regular.ttf") format('truetype');
}
@font-face {
    font-family: 'SUIT';
    font-style: normal;
    font-weight: 500;
    src: url("/fonts/SUIT/SUIT-Medium.woff2") format('woff2'),
         url("/fonts/SUIT/SUIT-Medium.ttf") format('truetype');
}
@font-face {
    font-family: 'SUIT';
    font-style: normal;
    font-weight: 600;
    src: url("/fonts/SUIT/SUIT-SemiBold.woff2") format('woff2'),
         url("/fonts/SUIT/SUIT-SemiBold.ttf") format('truetype');
}
@font-face {
    font-family: 'SUIT';
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/SUIT/SUIT-Bold.woff2") format('woff2'),
         url("/fonts/SUIT/SUIT-Bold.ttf") format('truetype');
}
@font-face {
    font-family: 'SUIT';
    font-style: normal;
    font-weight: 800;
    src: url("/fonts/SUIT/SUIT-ExtraBold.woff2") format('woff2'),
         url("/fonts/SUIT/SUIT-ExtraBold.ttf") format('truetype');
}
@font-face {
    font-family: 'SUIT';
    font-style: normal;
    font-weight: 900;
    src: url("/fonts/SUIT/SUIT-Heavy.woff2") format('woff2'),
         url("/fonts/SUIT/SUIT-Heavy.ttf") format('truetype');
}