/* GLOBAL */
:root {
    color-scheme: dark;
}
  
html {
    scroll-behavior: smooth;
}

body {
    @apply overflow-x-hidden text-zinc-100;
    font-family: "SUIT";
}

h1 {
    @apply text-5xl font-bold text-white;
}

h2 {
    @apply text-4xl font-semibold text-white;
}

h3 {
    @apply text-3xl font-medium text-white;
}

h4 {
    @apply text-2xl font-medium text-white;
}

h5 {
    @apply text-xl font-medium text-zinc-100;
}

h6 {
    @apply text-lg font-medium text-zinc-100;
}

p,
ul,
ol {
    @apply text-lg text-zinc-100;
}

ul {
    @apply list-disc list-inside;
}

ol {
    @apply list-decimal list-inside;
}

strong {
    @apply font-bold;
}