@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --font-sans: "SUIT", ui-sans-serif, system-ui, -apple-system, "Segoe UI",
               Roboto, "Helvetica Neue", Arial, "Apple Color Emoji",
               "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

:root {
    color-scheme: dark;
}

html {
  font-family: "SUIT", sans-serif;
    scroll-behavior: smooth;
}

body {
    @apply text-neutral-100;
    overflow-x: clip;
    scrollbar-gutter: stable both-edges;
    font-family: "SUIT";
}

h1 {
    @apply text-5xl font-bold text-white;
}

h2 {
    @apply text-4xl font-semibold text-white;
}

h3 {
    @apply text-3xl font-medium text-white;
}

h4 {
    @apply text-2xl font-medium text-white;
}

h5 {
    @apply text-xl font-medium text-neutral-100;
}

h6 {
    @apply text-lg font-medium text-neutral-100;
}

/* p,
ul,
ol {
    @apply sm:text-lg text-base text-neutral-200;
} */

.document-article .renderer h2 {
    @apply mt-10 mb-4;
}

.document-article .renderer h2:first-child {
    @apply mt-0;
}

.document-article .renderer h3 {
    @apply mt-8 mb-3;
}

.document-article .renderer h4 {
    @apply mt-6 mb-2;
}

.document-article .renderer {
    @apply text-base sm:text-lg;
}

.document-article .renderer > p {
    @apply my-5;
}

.document-article .renderer ul {
    @apply list-disc list-inside my-5;
}

.document-article .renderer ol {
    @apply list-decimal list-inside my-5;
}

.document-article .renderer blockquote {
    @apply my-5;
}

strong {
    @apply font-bold;
}

/* Animation */
.fade-enter-active,
.fade-leave-active {
  transition: all 0.3s ease-in-out;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

/* Custom */
.glass-button {
  @apply relative px-6 py-2 text-white text-base font-sans rounded bg-white/5 hover:bg-white/8 hover:cursor-pointer backdrop-blur-sm;
}

.glass-button::before {
  content: '';
  @apply absolute inset-0 -z-10 rounded p-[1px]
          bg-gradient-to-br from-neutral-900 via-neutral-600 to-neutral-900;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
